* {
    color: #333;
}

ion-content {
    --ion-background-color: #fff;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 1em;
    font-family: Jose-I;

}

.contactImg {
    margin: 1em;
}